$fa-font-path: './fonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';


// Base Fonts
$opensans: 'Open Sans', sans-serif;
$arimo: 'Arimo', sans-serif;
$zcool: 'ZCOOL QingKe HuangYou', cursive;

$logofont: $zcool;
$headingfont: $arimo;
$basefont: $opensans;


// Font Weights
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
