$fa-font-path: './fonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


// Base Fonts
$opensans: 'Open Sans', sans-serif;

$headingfont: $opensans;
$basefont: $opensans;


// Theme Fonts


// Font Weights
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
