<footer class="footer">
  <div class="container">
    <div class="branding">
      <a class="navbar-brand logo" href="/">
        {% if settings.base.GlobalSettings.logo %}
          <img src="{{ settings.base.GlobalSettings.logo.url }}" alt="{{ settings.base.GlobalSettings.logo_text }}">
        {% else %}
          {{ settings.base.GlobalSettings.logo_text }}
        {% endif %}
      </a>
    </div>
    <div class="copyright">&copy; {% now "Y" %} All Rights Reserved
    </div>
  </div>
</footer>