commands:
  01_pip_upgrade:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
    ignoreErrors: false

container_commands:
  01_vcs_dependencies:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && pip install --requirement vcs-requirements.txt --no-deps"
    ignoreErrors: false
