option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings.aws
    PYTHONPATH: /opt/python/current/app:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    WSGIPath: core/wsgi.py

container_commands:
  wsgiextra:
    command: cp wsgi_extra.conf /etc/httpd/conf.d/wsgi_extra.conf
