.token {
  &.operator {
    background: none !important;
  }
}

dl {
  dt {
    display: none;
  }
}

.line-numbers {
  font-size: 15px !important;

  a {
    &:hover {
      border: 0;
    }
  }
}

pre {
  margin-bottom: 5px;
}
