.footer {
  text-align: center;
  padding: 40px 0;
  background: $gray-300;

  .logo {
    text-decoration: none;
    font-family: $logofont;
    font-size: 30px;
    color: $gray-900;
    padding-bottom: 10px;
  }

  .copyright {
    font-size: 14px;
  }
}
