.footer {
  text-align: center;
  padding: 15px 0;
  background: $ltgray;
  position: absolute;
  width: 100%;
  bottom: 0;

  .logo {
    text-decoration: none;
    font-family: $logofont;
    font-size: 28px;
    color: $gray-900;
    padding-bottom: 8px;

    &:hover {
      border: 0;
    }
  }

  .copyright {
    font-size: 12px;
  }
}
