.header {
  background: $navy;
  position: fixed;
  width: 100%;
  z-index: 9;

  // LOGO
  .logo {
    border: 0;
    text-decoration: none;
    font-family: $zcool;
    font-weight: $font-weight-normal;
    font-size: 50px;
    color: $white;
    background: $navy;
    padding: 0 20px 10px;
    width: 250px;
    text-align: center;
    line-height: 1em;

    img {
      width: 250px;

      @media(max-width: $mobile) {
        width: 200px;
      }
    }

    &:hover {
      border: 0;
    }
  }

  // SEARCH
  .header-search {
    padding: 0 60px 0 20px;

    .form-group {
      margin-bottom: 0;
      width: auto;

      .form-control {
        font-size: 14px;
        width: 200px;
      }
    }

    .btn {
      font-size: 16px;
      background: none;
      color: $white;
      box-shadow: none;
      padding: 7px;

      &:hover {
        color: $accent;
      }
    }
  }
}
