.header {
  background: $black;
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 7px 0;

  // LOGO
  .logo {
    border: 0;
    text-decoration: none;
    font-family: $logofont;
    font-weight: $font-weight-normal;
    font-size: 50px;
    color: $white;
    background: $black;
    width: 230px;
    text-align: center;
    padding: 5px 0 0;
    margin-right: 0;

    @media(max-width: $desktop) {
      width: auto;
    }

    img {
      width: 230px;
      max-width: 100%;
    }

    .logo-sub-text {
      font-size: 27%;
      display: block;
      text-transform: uppercase;
      letter-spacing: 6px;
      padding-top: 12px;
      position: relative;
      left: 4px;
    }

    &:hover {
      border: 0;
    }
  }

  // SEARCH
  .header-search {
    padding: 2px 0 0;
    text-align: right;
    width: 300px;

    @media(max-width: $desktop) {
      text-align: center;
      padding-bottom: 10px;
      width: 100%;
    }

    .form-group {
      margin-bottom: 0;
      width: 80%;

      @media(max-width: $desktop) {
        width: 220px;
      }

      .form-control {
        font-size: 14px;
        border-radius: 20px;
        border: 0;
        padding: 5px 15px;
      }
    }

    .btn {
      font-size: 16px;
      background: none;
      color: $white;
      box-shadow: none;
      padding: 5px 7px;
      border: 0;

      &:hover {
        color: $accent;
      }
    }
  }
}
