button {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}


.btn {
  background: $white;
  border: 1px solid $accent;
  padding: 8px 15px;
  letter-spacing: 1px;
  border-radius: 20px;
  text-decoration: none;
  color: $accent;
  font-weight: 500;

  &:hover {
    background: $accent2;
    color: $white;
    text-decoration: none;
    border: 1px solid $accent2;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
