a {
  color: $gray-800;
  font-weight: $font-weight-bold;
  display: inline-block;
  text-decoration: none;
  transition: color .2s;
  display: inline;

  &:hover,
  &:active {
    color: $accent;
  }
}
