a {
  color: $accent;
  display: inline-block;
  text-decoration: none;
  transition: color .2s;
  display: inline;

  &:hover,
  &:active {
    color: $accent2;
    text-decoration: none;
    border-bottom: 2px dotted $accent2;
  }
}
