p {
  margin-bottom: 20px;
  line-height: 1.6rem;

  &.post-snippet {
    margin-bottom: 10px;
  }
}

ul {
  margin-bottom: 20px;

  li {
    ul {
      li {
        padding-bottom: 0;
      }
    }
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

b,
strong {
  font-weight: 700;
}

.right {
  float: right;
  align-self: flex-end;
}
