body {
  color: $gray-800;
  font-size: 17px;
}

.wrapper {
  margin-left: 250px;
  padding-top: 100px;
}

.page-content {
  padding: 50px 0;
}

.container {
  max-width: 975px;
}

.center {
  text-align: center;
}

.mobile {
  display: none !important;

  @media(max-width: $desktop) {
    display: inline-block !important;
  }
}

.desktop {
  @media(max-width: $desktop) {
    display: none !important;
  }
}
