.posts {
  article {
    margin-bottom: 50px;
    padding-right: 50px;
  }
}

.tag {
  color: $accent;
  padding: 3px 6px;
  border: 1px solid $accent;
  font-size: 14px;
  transition: .2s;
  margin-right: 5px;
  letter-spacing: 1px;

  &:hover {
    color: $white;
    background: $accent2;
    text-decoration: none;
    border: 1px solid $accent2;
  }
}


