{% extends "base.html" %}

{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}
    <section class="page-header-block">
    <div class="container">
      <h1>
        {% if page.page_title_override %}
          {{ page.page_title_override }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
    </div>
  </section>
  <section class="posts">
    <div class="container">
      {% for post in posts %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

        {% if post.tags.all.count %}
        <div class="tags">
          <h3>Tags</h3>
          {% for tag in post.tags.all %}
            <a href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">{{ tag }}</a>
          {% endfor %}
        </div>
         <hr>
      {% endif %}
      {% endfor %}



      Let's put some highlights on these little trees. The sun wouldn't forget them. We'll put a happy little bush here. And right there you got an almighty cloud.

A thin paint will stick to a thick paint. It's cold, but it's beautiful. So often we avoid running water, and running water is a lot of fun.

At home you have unlimited time. I started painting as a hobby when I was little. I didn't know I had any talent. I believe talent is just a pursued interest. Anybody can do what I do. You have to make those little noises or it won't work. Let's give him a friend too. Everybody needs a friend.
<hr>
It is a lot of fun. It's a super day, so why not make a beautiful sky? I guess I'm a little weird. I like to talk to trees and animals. That's okay though; I have more fun than most people. I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate things. You can create beautiful things - but you have to see them in your mind first. All those little son of a guns.

The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. I sincerely wish for you every possible joy life could bring. Just beat the devil out of it. From all of us here, I want to wish you happy painting and God bless, my friends. You want your tree to have some character. Make it special. Don't be afraid to make these big decisions. Once you start, they sort of just make themselves.

Nature is so fantastic, enjoy it. Let it make you happy. If I paint something, I don't want to have to explain what it is. You can do anything your heart can imagine.
<br><br>
Let's put some highlights on these little trees. The sun wouldn't forget them. We'll put a happy little bush here. And right there you got an almighty cloud.
<hr>
A thin paint will stick to a thick paint. It's cold, but it's beautiful. So often we avoid running water, and running water is a lot of fun.

At home you have unlimited time. I started painting as a hobby when I was little. I didn't know I had any talent. I believe talent is just a pursued interest. Anybody can do what I do. You have to make those little noises or it won't work. Let's give him a friend too. Everybody needs a friend.

It is a lot of fun. It's a super day, so why not make a beautiful sky? I guess I'm a little weird. I like to talk to trees and animals. That's okay though; I have more fun than most people. I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate things. You can create beautiful things - but you have to see them in your mind first. All those little son of a guns.

The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. I sincerely wish for you every possible joy life could bring. Just beat the devil out of it. From all of us here, I want to wish you happy painting and God bless, my friends. You want your tree to have some character. Make it special. Don't be afraid to make these big decisions. Once you start, they sort of just make themselves.

Nature is so fantastic, enjoy it. Let it make you happy. If I paint something, I don't want to have to explain what it is. You can do anything your heart can imagine.    

</div>
  </section>
{% endblock %}