{% extends "base.html" %}

{% load staticfiles wagtailcore_tags wagtailroutablepage_tags%}

{% block extra_meta %}
  <meta property="og:url"                content="{{ request.get_full_path }}" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="{{ page.title }}" />
  <meta property="og:description"        content="{{ page.search_description }}" />
  <meta property="og:image"              content="{% static '/logo.png' %}" />
{% endblock %}

{% block content %}
  <section class="page-header-block">
    <div class="container">
      <div class="post-date">
        {{ page.date|date:"M d, Y" }}
      </div>
      <h1>{{ page.title }}</h1>
      {% if page.tags.all.count %}
        <div class="tags">
          {% for tag in page.tags.all %}
            <a class="tag" href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">#{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
  <section class="post-content">
    {% for block in page.page_content %}
      {% include_block block %}
    {% endfor %}
  </section>
  <section class="bottom-page-content">
    <div class="container">
      <div class="addthis_inline_share_toolbox"></div>
    </div>
  </section>

  {% if page.socials %}
    <div class="social-share-btns">
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ page.addthis_pubid }}"></script>
    </div>
  {% endif %}
{% endblock %}
